/* General Element Styles */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a06343;
    margin-top: 4em;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

h2 {
    color:         #334040;
    font-weight:   normal;
    margin-top:    1.25em;
}

h1.top, h2.top, h3.top {
    margin-top: 1em;
}

img.centered {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
}

table.spaced td {
    padding-bottom: 0.5em;
}

summary:after {
    background-color: red;
}

details ul {
    margin-top: 0;
}

ul.no-top-space {
    margin-top: -0.75em;
}

ul.spaced li {
    margin-bottom: 0.25em;
}

ul.no-bullet {
    list-style-type: none;
}

li.sep-before {
    padding-top: 0.80em;
}

li.sep-after {
    padding-bottom: 0.80em;
}


/* Special Divs */

#page_content {
    position: relative;
    max-width: 720px;
    min-width: 400px;
    padding: 0;
    margin: 1em auto 0 auto;
}

#content {
    position: relative;
    float: left;
    width: 320px;
    text-align: left;
    padding: 0 5px;
    margin-bottom: 4em;
}

#fullwidth-content {
    padding: 1em 4em 4em 4em;
    height: 100%;
    background-color: #eae1de;
}

#fullwidth-content.subtle-anchor-underline a {
    text-decoration: underline;
    text-decoration-color: #a6ba90;
}

#sidebar {
    float: right;
    width: 330px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.attributions {
    margin-top: 8em;
    font-size: smaller;
    color: #666666;
}

div.attributions ul {
    list-style-type: none;
    margin-left: -6ex;
    text-align: center;
}


/* Content Styles */

#content img {
    padding: 5px;
    border: 1px solid #708090;
}


/* Sidebar Styles */

#sidebar p {
    color: #555;
}

#sidebar img {
    float: right;
    margin-bottom: 5px;
    margin-left: 5px;
}

iframe.header {
    width:       98%;
    margin-left: 1%;
    height:      9.5em;
    overflow:    hidden;
    border:      none;
}

/* Link Styles */
a {
    color: #4418bc;
    text-decoration: none;
}

a:hover {
    color: #2529f4;
    text-decoration: underline;
}


/* General Styles */

.style_bold {
    font-weight: bold;
}

.style_italic {
    font-style: italic;
}

.centered {
    text-align: center;
}

.indented {
    margin-left: 4ex;
}

.no-top-space {
    margin-top: 0;
}

.no-bottom-space {
    margin-bottom: 0;
}
